.leftHalf {
  background-image: url(../../assets/images/bg/men.jpg);
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
  filter: grayscale(-10);
  background-position: center;
  background-size: cover;
}
.rightHalf {
  background-image: url(../../assets/images/bg/women.jpg);
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
  filter: grayscale(-10);
  background-position: center;
  background-size: cover;
}
button{
   margin-top: 400px;
   background-color: #ff5809 !important;
   filter: brightness(100%);
   border:none;
   font-size: 30px;
   transition: all 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
